<app-detail *ngIf="order$ | async as order; else loading" [context]="order" [route]="'orders'">
  <apt-alert [record]="order" message="ERROR.UPDATE_ORDER_FAILED_ON_DETAILS_PAGE" [showOnlyMessage]="false"
    [showPriceError]="false">
  </apt-alert>


  <div class="detail-header">
    <div class="d-flex align-items-center mb-3">
      <span class="page-header d-lg-block d-md-block d-sm-none d-none">{{ order?.Name }}</span>
      <span tooltip="{{order?.Name}}" class="page-header d-lg-none d-md-none d-sm-block d-block">{{ order?.Name |
        truncate:13 }}</span>

      <div class="badge badge-light ml-1 px-2 py-0" *ngIf="order?.Status">
        <apt-output-field
          [record]="order"
          field="Status"
          [editable]="false"
          [valueOnly]="true"
          [valueClass]="'pt-0'"
        ></apt-output-field>
      </div>
      <div *ngIf="!showPresentTemplate" class="btn-group secondary-actions ml-auto align-self-stretch" role="group"
        [ngSwitch]="order?.Status" [tooltip]="
            order.hasErrors ? ('DETAILS.MISSING_REQ_FIELDS' | translate) : ''">
        <ng-container *ngSwitchCase="'Draft'">
          <apt-generate-document [record]="order" class="ml-auto px-3 d-lg-block d-md-block d-none d-sm-none"
            (onStatusUpdate)="onGenerateOrder()">
          </apt-generate-document>
          <button type="button" class="btn btn-primary btn-raised rounded d-lg-block d-md-block d-none d-sm-none"
            (click)="confirmOrder(order?.Id, order?.PrimaryContact?.Id)" [ladda]="isLoading" data-style="zoom-in"
            [disabled]="order.hasErrors">
            {{ "MY_ACCOUNT.ORDER_DETAIL.CONFIRM_ORDER" | translate }}
          </button>
        </ng-container>

        <ng-container *ngSwitchCase="'Generated'">
          <button type="button" class="btn btn-outline-primary rounded-right px-2 d-lg-block d-md-block d-none d-sm-none"
            (click)="openPresentOrderPage()" data-style="zoom-in">
            {{'DETAILS.PRESENT_ORDER' | translate}}
          </button>
          <apt-generate-document [record]="order" class="ml-auto px-3 d-lg-block d-md-block d-none d-sm-none"
            (onStatusUpdate)="onGenerateOrder()">
          </apt-generate-document>
          <button type="button" class="btn btn-primary btn-raised rounded d-lg-block d-md-block d-none d-sm-none"
            [disabled]="order.hasErrors" (click)="confirmOrder(order?.Id, order?.PrimaryContact?.Id)"
            [ladda]="isLoading" data-style="zoom-in">
            {{ "MY_ACCOUNT.ORDER_DETAIL.CONFIRM_ORDER" | translate }}
          </button>
        </ng-container>

        <ng-container *ngSwitchCase="'Presented'">
          <button type="button" class="btn btn-outline-primary rounded-right text-primary px-2 d-lg-block d-md-block d-none d-sm-none"
            (click)="openPresentOrderPage()" data-style="zoom-in">
            {{'DETAILS.PRESENT_ORDER' | translate}}
          </button>
          <apt-generate-document [record]="order" class="ml-auto px-3 d-lg-block d-md-block d-none d-sm-none"
            (onStatusUpdate)="onGenerateOrder()">
          </apt-generate-document>
          <button type="button" class="btn btn-primary rounded btn-raised d-lg-block d-md-block d-none d-sm-none"
            [disabled]="order.hasErrors" (click)="confirmOrder(order.Id, order?.PrimaryContact?.Id)" [ladda]="isLoading"
            data-style="zoom-in">
            {{ "MY_ACCOUNT.ORDER_DETAIL.CONFIRM_ORDER" | translate }}
          </button>

        </ng-container>
      </div>
      <div class="d-sm-block d-block ml-auto d-md-none d-lg-none pt-2"
        *ngIf="order?.Status === 'Draft' || order?.Status === 'Generated' || order?.Status === 'Presented'">
        <div class="dropdown">
          <a class="fa fa-ellipsis-v dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <ng-container *ngTemplateOutlet="orderActions"></ng-container>
          </div>
        </div>
      </div>

      <div *ngIf="order?.Proposal as proposal" class="ml-auto d-lg-block d-md-block d-sm-none d-none">
        <apt-output-field [record]="proposal" field="Name" labelClass="d-none" [editable]="false"
          [showQuickView]="true"></apt-output-field>
      </div>
    </div>
    <div *ngIf="order?.Proposal as proposal" class="ml-auto d-lg-none d-md-none d-sm-block d-block">
      <apt-output-field [record]="proposal" field="Name" labelClass="d-none" [editable]="false"
        [showQuickView]="true"></apt-output-field>
    </div>
    <app-progress *ngIf="orderStatusLabelMap[order.Status]" [steps]="orderStatusStepsLabels"
      [currentStep]="orderStatusLabelMap[order.Status]"></app-progress>
  </div>

  <ng-container *ngIf="!showPresentTemplate;else presentDocumentTemplate">
    <app-detail-section [title]="'DETAILS.ORDER_SUMMARY' | translate">
      <div class="row pt-3">
        <div class="col-12 col-md-8 pl-lg-3 pl-md-3">
          <div class="card">
            <div class="card-header border-bottom py-2">
              <h5>
                {{ "DETAILS.ORDER_SUMMARY" | translate }}
              </h5>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="flex-shrink-1 col-md-4 mb-2">
                  <apt-output-field [record]="order" field="OrderNumber" [editable]="false">
                  </apt-output-field>
                </div>
                <div class="flex-shrink-1 col-md-4 mb-2">
                  <apt-output-field [record]="order" field="CreatedDate" [editable]="false">
                  </apt-output-field>
                </div>
                <div class="flex-shrink-1 col-md-4 mb-2">
                  <apt-output-field [record]="order.CreatedBy" field="Name" [label]="'COMMON.CREATED_BY' | translate"
                    [editable]="false"></apt-output-field>
                </div>
              </div>
              <div class="row">
                <div class="flex-shrink-1 col-md-4 mb-2">
                  <apt-output-field [record]="order" field="SoldToAccount" displayValue="SoldToAccount"
                    [label]="'MY_ACCOUNT.ORDER_DETAIL.ACCOUNT_NAME' | translate" [editable]="false"
                    [showQuickView]="true"></apt-output-field>
                </div>
                <div class="flex-shrink-1 col-md-4 mb-2">
                  <apt-output-field [record]="order" field="ShipToAccount" displayValue="ShipToAccount" [label]="
                  'MY_ACCOUNT.ORDER_DETAIL.SHIP_TO_ACCOUNT' | translate
                " [editable]="
                  orderStatusMap[order.Status]?.Key?.toLowerCase() === 'draft' ||
                  orderStatusMap[order.Status]?.Key?.toLowerCase() === 'generated' ||
                  orderStatusMap[order.Status]?.Key?.toLowerCase() === 'presented'
                " [showQuickView]="true" [required]="true" (onChange)="refreshOrder($event, order, 'ShipToAccount')">
                  </apt-output-field>

                </div>
                <div class="flex-shrink-1 col-md-4 mb-2">
                  <apt-output-field [record]="order" field="BillToAccount" displayValue="BillToAccount" [label]="
                    'MY_ACCOUNT.ORDER_DETAIL.BILL_TO_ACCOUNT' | translate
                  " [editable]="
                    orderStatusMap[order.Status]?.Key?.toLowerCase() === 'draft' ||
                    orderStatusMap[order.Status]?.Key?.toLowerCase() === 'generated' ||
                    orderStatusMap[order.Status]?.Key?.toLowerCase() === 'presented'
                  " [showQuickView]="true"
                    (onChange)="refreshOrder($event, order, 'BillToAccount')"></apt-output-field>
                </div>
              </div>
              <div class="row" *ngIf="isExpanded">
                <div class="flex-shrink-1 col-md-4 mb-2">
                  <apt-output-field [record]="order" field="PrimaryContact" displayValue="PrimaryContact" [editable]="
                  orderStatusMap[order.Status]?.Key?.toLowerCase() === 'draft'||
                  orderStatusMap[order.Status]?.Key?.toLowerCase() === 'generated' ||
                  orderStatusMap[order.Status]?.Key?.toLowerCase() === 'presented'
                " [showQuickView]="true" [lookupOptions]="lookupOptions" [required]="true"
                    (onChange)="refreshOrder($event, order, 'PrimaryContact')"></apt-output-field>
                </div>
                <div class="flex-shrink-1 col-md-4 mb-2">
                  <apt-output-field [record]="order" field="Description"
                    [label]="'MY_ACCOUNT.ORDER_DETAIL.DESCRIPTION' | translate" field="Description" [editable]="
                    orderStatusMap[order.Status]?.Key?.toLowerCase() === 'draft' ||
                    orderStatusMap[order.Status]?.Key?.toLowerCase() === 'generated' ||
                    orderStatusMap[order.Status]?.Key?.toLowerCase() === 'presented'
                  " [showQuickView]="true" (onChange)="
                    refreshOrder($event.Description, order, 'Description')
                  "></apt-output-field>
                </div>
              </div>
              <div class="d-flex justify-content-start">
                <a href="javascript:void(0)" (click)="isExpanded = !isExpanded" class="text-decoration-none">
                  <span>
                    {{ isExpanded ? ('COMMON.SHOW_LESS' | translate) : ('COMMON.SHOW_MORE' | translate) }}
                    <i class="fas" [ngClass]="isExpanded ? 'fa-angle-double-up' : 'fa-angle-double-down'"></i>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4 pt-lg-0 pt-md-0 pt-sm-3 pt-3 pl-md-0">
          <apt-price-summary [record]="order" [page]="'orders'" [showStatus]="true"></apt-price-summary>
        </div>
      </div>
    </app-detail-section>

    <app-detail-section [title]="'DETAILS.LINE_ITEMS' | translate" class="mt-3">
      <div class="card">
        <div class="card-header border-bottom py-2">
          <h5 class="m-0">
            {{ "DETAILS.LINE_ITEMS" | translate }}

            <button class="btn text-primary px-2 ml-1 py-0"
              *ngIf="(order?.Status === 'Draft' || order?.Status === 'Generated' || order?.Status === 'Presented')"
              [ladda]="lineItemLoader" data-style="zoom-in" data-spinner-color="black" (click)="editOrderItems(order)">
              <i class="fa fa-edit"></i>
              {{ "COMMON.EDIT" | translate }}
            </button>
          </h5>
        </div>

        <div class="card-body p-0">
          <table class="table">
            <tbody>
              <ng-container *ngFor="let item of orderLineItems$ | async; let i = index">
                <apt-line-item-table-row [cart]="cartRecord" [index]="i" [parent]="item.MainLine" [options]="item.Flat"
                  [children]="item.SecondaryLines" [editableFields]="false">
                </apt-line-item-table-row>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </app-detail-section>

    <app-detail-section [title]="'DETAILS.ATTACHMENTS' | translate" class="mt-3">
      <div class="card" #attachmentSection *ngIf="attachmentList$ | async as attachmentList; else loading">
        <div class="card-header border-bottom py-2">
          <h5 class="mt-0">
            {{ "DETAILS.ATTACHMENTS" | translate }}

            <span *ngIf="attachmentList?.length > 0">({{ attachmentList?.length }})</span>
          </h5>
        </div>

        <div class="card-body">
          <div class="row d-flex justify-content-between">
            <div class="col-12 col-md-6 attachment-container">
              <ng-container *ngIf="attachmentList?.length > 0; else emptyAttachments">
                <div class="table-container overflow-auto">
                  <table class="table table-sm">
                    <thead class="position-sticky bg-white">
                      <tr>
                        <th scope="col">#</th>

                        <th scope="col">
                          <apt-output-field [record]="attachmentList[0].DocumentMetadata" field="Name"
                            [labelOnly]="true">
                          </apt-output-field>
                        </th>

                        <th scope="col" class="d-lg-table-cell d-md-table-cell d-sm-none d-none text-nowrap">
                          <apt-output-field [record]="attachmentList[0].DocumentMetadata" field="FileSize"
                            [labelOnly]="true">
                          </apt-output-field>
                        </th>

                        <th scope="col" class="d-lg-table-cell d-md-table-cell d-sm-none d-none text-nowrap">
                          <apt-output-field [record]="attachmentList[0].DocumentMetadata" field="FileType"
                            [labelOnly]="true">
                          </apt-output-field>
                        </th>

                        <th scope="col">
                          <apt-output-field [record]="attachmentList[0].DocumentMetadata" field="CreatedBy"
                            [labelOnly]="true">
                          </apt-output-field>
                        </th>

                        <th scope="col">
                          <apt-output-field [record]="attachmentList[0].DocumentMetadata" field="CreatedDate"
                            [labelOnly]="true">
                          </apt-output-field>
                        </th>
                        <th></th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr *ngFor="let attachment of attachmentList; let i = index">
                        <th scope="row">{{ i + 1 }}</th>

                        <td>
                          <a class="text-underline" (click)="
                            downloadAttachment(attachment?.DocumentMetadata?.Id)
                          " target="_blank">{{ attachment?.DocumentMetadata?.Name }}</a>
                        </td>

                        <td class="d-lg-table-cell d-md-table-cell d-sm-none d-none text-nowrap">
                          {{
                          (
                          attachment?.DocumentMetadata?.FileSize / 1024
                          ).toFixed(2)
                          }}KB
                        </td>

                        <td class="d-lg-table-cell d-md-table-cell d-sm-none d-none text-nowrap">{{
                          attachment?.DocumentMetadata?.FileType }}</td>

                        <td>
                          {{ attachment?.DocumentMetadata?.CreatedBy.Name }}
                        </td>

                        <td>
                          {{
                          attachment?.DocumentMetadata?.CreatedDate
                          | date : "short"
                          }}
                        </td>
                        <td><button class="btn btn-link p-0 m-0" (click)="deleteAttachment(attachment)"
                            [ladda]="attachment?.DocumentMetadata?._metadata?.deleting" data-style="zoom-in"
                            data-spinner-color="black">
                            <span class="fa fa-trash"></span>
                          </button></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </ng-container>

              <ng-template #emptyAttachments>
                <div class="d-flex align-items-center justify-content-center flex-column h-100 text-muted">
                  <i class="fa fa-4x fa-file-o mb-2"></i>

                  {{ "COMMON.ATTACHMENT_DETAILS.NO_ATTACHMENTS" | translate }}
                </div>
              </ng-template>
            </div>
            <span class=" d-lg-block d-md-block d-sm-none d-none border-left"></span>
            <div class="col-12 col-md-5 pt-lg-0 pt-md-0 pt-sm-3 pt-3">
              <ng-container *ngTemplateOutlet="addAttachments"></ng-container>
            </div>
          </div>
        </div>
      </div>
    </app-detail-section>
  </ng-container>

</app-detail>

<ng-template #presentDocumentTemplate>
  <div *ngIf="attachmentList$ | async as attachmentList">
    <apt-present-document *ngIf="showPresentTemplate" [record]="order" (onPresentDoc)="onPresentDoc($event)"
      [attachmentList]="attachmentList">
    </apt-present-document>
  </div>
</ng-template>


<ng-template #orderActions>
  <div [ngSwitch]="order?.Status">
    <ng-container *ngSwitchCase="'Draft'">
      <button type="button" class="btn btn-link text-primary" (click)="confirmOrder(order.Id, order.PrimaryContact.Id)"
        [ladda]="isLoading" data-style="zoom-in" [disabled]="order.hasErrors">
        {{ "MY_ACCOUNT.ORDER_DETAIL.CONFIRM_ORDER" | translate }}
      </button>
      <apt-generate-document [record]="order" (onStatusUpdate)="onGenerateOrder()">
      </apt-generate-document>
    </ng-container>

    <ng-container *ngSwitchCase="'Generated'">
      <button type="button" class="btn btn-raised" [disabled]="order.hasErrors"
        (click)="confirmOrder(order.Id, order.PrimaryContact.Id)" [ladda]="isLoading" data-style="zoom-in">
        {{ "MY_ACCOUNT.ORDER_DETAIL.CONFIRM_ORDER" | translate }}
      </button>
      <apt-generate-document [record]="order" (onStatusUpdate)="onGenerateOrder()">
      </apt-generate-document>
      <button type="button" class="btn btn-raised" (click)="openPresentOrderPage()" data-style="zoom-in">
        {{'DETAILS.PRESENT_ORDER' | translate}}
      </button>
    </ng-container>

    <ng-container *ngSwitchCase="'Presented'">
      <button type="button" class="btn btn-raised" [disabled]="order.hasErrors"
        (click)="confirmOrder(order.Id, order.PrimaryContact.Id)" [ladda]="isLoading" data-style="zoom-in">
        {{ "MY_ACCOUNT.ORDER_DETAIL.CONFIRM_ORDER" | translate }}
      </button>
      <apt-generate-document [record]="order" (onStatusUpdate)="onGenerateOrder()">
      </apt-generate-document>
      <button type="button" class="btn btn-raised" (click)="openPresentOrderPage()" data-style="zoom-in">
        {{'DETAILS.PRESENT_ORDER' | translate}}
      </button>
    </ng-container>
  </div>
</ng-template>

<ng-template #loading>
  <div class="d-flex justify-content-center pt-5">
    <apt-dots></apt-dots>
  </div>
</ng-template>

<ng-template #noProducts>
  <div class="d-flex align-items-center justify-content-center flex-column h-100 text-muted">
    {{'COMMON.NO_ITEMS_FOUND' | translate}}
  </div>
</ng-template>

<ng-template #addAttachments>
  <apt-file-uploader [fileUploadLabel]="'COMMON.ATTACHMENT_DETAILS.TITLE' | translate"
    [supportedFileTypes]="supportedFileTypes" [maxFileSize]="maxFileSizeLimit" [loading]="attachmentsLoader"
    (onFileUpload)="uploadAttachments($event)">
  </apt-file-uploader>
</ng-template>